{% extends 'base.html.twig' %}

{% block title %}{% trans %}Connexion{% endtrans %}{% endblock %}

{% block body %}

<main id="main" class="mt-5 pt-5">

    <section>
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-4">
                    <form method="post">
                        {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}
                        </div>
                        {% endif %}

                        {% if app.user %}
                        <div class="mb-3">
                            {% trans %}Vous êtes connecté en tant que{% endtrans %} {{ app.user.username }}, <a
                                href="{{ path('app_logout') }}">{% trans %}Déconnexion{% endtrans %}</a>
                        </div>
                        {% endif %}

                        <h1 class="h3 mb-3 font-weight-normal">{% trans %}Veuillez vous connecter{% endtrans %}</h1>

                        <label for="inputEmail">{% trans %}E-mail{% endtrans %}</label>
                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail"
                            class="form-control mb-3" autocomplete="email" required autofocus>

                        <label for="inputPassword">{% trans %}Mot de passe{% endtrans %}</label>
                        <input type="password" name="password" id="inputPassword" class="form-control mb-3"
                            autocomplete="current-password" required>

                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                        {#
                                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                                See https://symfony.com/doc/current/security/remember_me.html

                                <div class="checkbox mb-3">
                                    <label>
                                        <input type="checkbox" name="_remember_me"> Remember me
                                    </label>
                                </div>
                            #}

                        <button class="btn btn-primary mt-3" type="submit">{% trans %}Connexion{% endtrans %}</button>
                        <button class="btn btn-secondary mt-3" type="reset">{% trans %}Annuler{% endtrans %}</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}