<!-- ======= My Portfolio Section ======= -->
<section id="portfolio" class="portfolio">
    <div class="container">

        <div class="section-title">
            <span>{% trans %}Portfolio{% endtrans %}</span>
            <h2>{% trans %}Portfolio{% endtrans %}</h2>
            <p>
                {% trans %}Voici quelques exemples de mes réalisations ainsi que les certifications
                obtenues{% endtrans %}
            </p>
        </div>

        <div class="row mb-5">
            <div class="col d-flex justify-content-center">
                <a href="{{ path('portfolio') }}" class="btn btn-lg btn-outline-warning">&#8594; {% trans %}Voir toutes
                    les fiches du portfolio{% endtrans %}</a>
            </div>
        </div>

        <ul id="portfolio-flters" class="d-flex justify-content-center">
            <li data-filter="*" class="filter-active">All</li>
            <li data-filter=".filter-web">web</li>
            <li data-filter=".filter-school">School</li>
            <li data-filter=".filter-certification">Certification</li>
        </ul>

        <div class="row portfolio-container">

            {% for fiche in fiches %}
            <div class="col-lg-4 col-md-6 portfolio-item {{ fiche.filter }}">
                <div class="portfolio-img"><img
                        src="{{ asset('uploads/fiches/' ~ fiche.image) | imagine_filter('portfolio') }}"
                        class="img-fluid" alt="">
                </div>
                <div class="portfolio-info">
                    <h4>{{ fiche.titre }}</h4>
                    <p>{{ fiche.techno }}</p>
                    <a href="{{ asset('uploads/fiches/' ~ fiche.image) | imagine_filter('portfoliodetail') }}"
                        data-gallery="portfolioGallery" class="portfolio-lightbox preview-link"
                        title="{{ fiche.titre }}"><i class="bx bx-plus"></i></a>
                    <a href="{{ path('detailportfolio', {'slug': fiche.slug}) }}" class="details-link"
                        title="Plus de détails"><i class="bx bx-link"></i></a>
                </div>
            </div>
            {% endfor %}

        </div>

    </div>

</section><!-- End My Portfolio Section -->